.header-background {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: #3D56C0;
  height: 80%;
}

.header-background h1 {
  color: black;
  font-size: 60px;
  margin: 50px 0px 30px 0px;
  font-family: cursive;
}

.header-background h1 span {
  color: rgb(255, 255, 255);
  font-size: 60px;
  background-color: #E7497A;
  padding: 15px;
  border-radius: 50%;
  font-family: cursive;
}

.header-background .sub-title {
  font-size: 30px;
}

.header-background p {
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}